.promo-code {
  border-color: black;
  border-width: 1;
  border-radius: 6;
  height: 50;
  width: 60%;
  margin: 20;
  background-color: #f6f6f6;
  text-align: center;
  color: #3A53FF;
}

.feature {
  font-size: 16;
  color: white;
  font-weight: bold;
}

.description {
  font-size: 12;
  color: white;
}

.tick {
  vertical-align: middle;
}


.gcenter {
  horizontal-align: center;
}

.m-l {
  margin-left: 40;
}

.rotate {
  animation-name: rotation;
  animation-duration: .5ms;
  animation-fill-mode: forwards;
}

@keyframes rotation {
  from { transform: rotate(0deg); }
  to { transform: rotate(-90deg); }
}