.v-line {
    width: 5;
    height: 50;
    background-color: red;
}

.attempted {
    font-size: 20;
    color: blue;
}

.total{
    font-size: 20;
    color: blue;
}

.mock-stat {
    font-size: 20;
    color: blue;
}

.type{
    font-size: 10;
    color: blue;
}

.mock-type {
    font-size: 10;
    color: blue;
}