.setting-label {
  font-weight: bold;
  margin-top: 5;
  color: white;
}
// style="border-bottom-width: 1; border-color: white;"
.setting-field {
  border-bottom-width: 1;
  border-color: white;
  margin-top: 1;
}

.info {
  color: white;
  font-size: 14;
  margin-top: 5;
  margin-bottom: 5;
}

.settings-button {
  background-color:#fff;
  border-color:#fff;
  color:#3A53FF;
}